<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Estudiantes</title>
</head>
<body>
    <h1>Lista de Estudiantes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estudiante : ${estudiantes}">
                <td th:text="${estudiante.idEstudiante}"></td>
                <td th:text="${estudiante.nombres}"></td>
                <td th:text="${estudiante.apellidos}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/estudiantes/nuevo}">Registrar nuevo estudiante</a>
</body>
</html>

